<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>用户管理</title>
		<link rel="stylesheet" href="../bootstrap/bootstrap.css" />
		<script src="../bootstrap/jquery.js"></script>
		<script src="../bootstrap/bootstrap.js"></script>
		<script src="../js/vue.js"></script>
		<script>
			window.onload = function(){
				let vm = new Vue({
					el: '.container',
					data: {
						users: [
							{name: 'tom', age: 24, email:'tom@gmail.com'},
							{name: 'linda', age: 19, email:'linda@gmail.com'},
							{name: 'catherine', age: 99, email:'catherine@gmail.com'},
						],
						user: {},
						nowIndex: -1		// 当前删除索引
					},
					methods:{
						addUser(){
							this.users.push(this.user);
							this.user = {};
						},
						delUser(){
							if (this.nowIndex === -1) {
								// 删除所有
								this.users = [];
							}
							this.users.splice(this.nowIndex, 1);		// 从指定索引位置开始删除, 删除1个
							this.nowIndex = -1;
							
						}
					}
				})
			}
		</script>
	</head>
	<body>
	<div class="container">
		<h2 class="text-center text-info">添加用户</h2>
		<form class="form-horizontal" action="">
			<div class="form-group">
				<label for="name" class="control-label col-sm-2 col-sm-offset-2">姓  名:</label>
				<div class="col-sm-6"><input type="text" class="form-control" id="name" v-model="user.name" placeholder="请输入姓名"/></div>
			</div>
			<div class="form-group">
				<label for="age" class="control-label col-sm-2 col-sm-offset-2">年  龄:</label>
				<div class="col-sm-6"><input type="text" class="form-control" id="age" v-model="user.age" placeholder="请输入年龄"/></div>
			</div>
			<div class="form-group">
				<label for="email" class="control-label col-sm-2 col-sm-offset-2">邮  箱:</label>
				<div class="col-sm-6"><input type="text" class="form-control" id="email" v-model="user.email" placeholder="请输入邮箱"/></div>
			</div>
			<div class="form-group text-center">
				<input type="button" class="btn btn-primary" value="添  加" v-on:click="addUser">
				<input type="button" class="btn btn-primary" value="重  置">
			</div>
		</form>
		<hr>
		<table class="table table-bordered table-hover table-striped">
			<caption class="h3 text-center text-info">用户列表</caption>
			<thead>
				<tr>
					<th class="text-center">序号</th>
					<th class="text-center">姓名</th>
					<th class="text-center">年龄</th>
					<th class="text-center">邮箱</th>
					<th class="text-center">操作</th>
				</tr>
			</thead>
			<tbody>
				<tr class="text-center" v-for="(user,index) in users">
					<td>{{index + 1}}</td>
					<td>{{user.name}}</td>
					<td>{{user.age}}</td>
					<td>{{user.email}}</td>
					<td>
						<button class="btn btn-warning btn-sm" data-toggle="modal" data-target="#del" v-on:click="nowIndex=index">删除</button>
					</td>
				</tr>
				<tr class="text-right">
					<td colspan="5"><button class="btn btn-danger"  data-toggle="modal" data-target="#del" v-on:click="nowIndex=-1">删除所有</button></td>
				</tr>
			</tbody>
		</table>
		<!-- 模态框: 弹出框-->
		<div class="modal" id="del">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button class="close" data-dismiss="modal"><span>&times;</span></button>
						<h4 class="modal-title" v-show="nowIndex!==-1">确定要删除用户: {{users[nowIndex]?users[nowIndex].name:''}}吗?</h4>
						<h4 class="modal-title" v-show="nowIndex===-1">确定要所有用户吗?</h4>
					</div>
					<div class="modal-body text-center">
						<button class="btn btn-primary" data-dismiss="modal">取消</button>
						<button class="btn btn-primary" data-dismiss="modal" v-on:click="delUser">确认</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	</body>
</html>
