<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>官网示例</title>
		<script src="../js/vue.js"></script>
		<script>
			Vue.config.devtools = true;
			Vue.config.productionTip = true;
			window.onload = function () {
				var vm = new Vue({
					el: "#app",
					data: {
						message: "Hello Vue!",
						message1: "页面加载于" + new Date().toLocaleString(),
						seen: true,
						todos: [
							{text: "学习 JavaScript"},
							{text: "学习 Vue"},
							{text: "整个牛项目"}
						],
						groceryList: [
							{id: 0, text: '蔬菜'},
							{id: 1, text: '奶酪'},
							{id: 2, text: '其他'},
						]
					},
					methods: {
						// 在该方法中, 我们更新了应用的状态, 但没有触碰DOM-所有的DOM操作都由Vue来处理, 
						// 所以我们编写代码只需关注逻辑层即可
						reverseMessage: function () {
							this.message = this.message.split('').reverse().join('');
						}
					}
				})
			}
		</script>
		<!-- 组件化应用构建 组件系统 几乎任意类型的应用界面都可以抽象为一颗组件树 -->
		<!-- 在Vue里, 一个组件本质上是一个拥有预定义选项的一个实例。在Vue中注册组件很简单: -->
		<script>
			// 定义名为 todo-item的新组件
			Vue.component('todo-item', {
				template: '<li>这是个待办事项</li>'
			})
		</script>
		<script>
			// 我们应该能从父作用域将数据传递到子组件才对, 修改组件的定义, 能接受一个<optgroup>
			Vue.component('todo-item-v2', {
				props: ['todo'],
				template: '<li>{{todo.text}}</li>'
			})
		</script>
	</head>
	<body>
		<div id="app">
			<!-- 数据与DOM建立了关联, 所有东西都是响应式的 -->
			<p>{{message}}</p>
			
			<!-- v-model:  轻松实现表单输入和应用状态之间的双向绑定-->
			<input type="text" v-model="message">
			
			<br><br>
			<!-- 指令 v-bind v-表示Vue提供的特殊属性，会在渲染的DOM上应用特殊的响应式行为 -->
			<!-- v-bind: 将这个节点的title属性和Vue实例的message1属性保持一致 -->
			<span v-bind:title="message1">
				鼠标悬停几秒钟查看此处动态绑定的提示信息！
			</span>
			
			<br>
			<!-- 不仅可以把数据绑定到DOM文本或属性, 还可以绑定到DOM结构 -->
			<p v-if="seen">现在你看到我了</p>
			
			<!-- v-for指令可以绑定数组的数据来渲染一个项目列表 -->
			<ol>
				<li v-for="todo in todos">{{todo.text}}</li>
			</ol>
			
			<br>
			<!-- 为了让用户和你的应用进行交互 v-on指令添加一个事件监听器, 通过它调用在Vue实例中定义的方法 -->
			<button v-on:click="reverseMessage">逆转消息</button>
			
			<ol>
				<!--创建一个 todo-item 组件的实例  -->
				<!-- 但是这样会为每个待办项渲染同样的文本, 看起来并不炫酷 -->
				<todo-item></todo-item>
				<todo-item></todo-item>
				<todo-item></todo-item>
			</ol>
			
			<!-- 设法将应用分割成两个更小的单元，子单元通过prop接口与父单元进行了良好的解耦 -->
			<!-- 所以可以进一步改进 <todo-item-v2>组件,提供更为复杂的模板和逻辑, 而不影响到父单元 -->
			<ol>
				<todo-item-v2
				 v-for="item in groceryList"
				 v-bind:todo="item"
				 v-bind:key="item.id"
				></todo-item-v2>
			</ol>
			
			<!-- Vue组件非常类似 原生自定义元素 -->
		</div>

	</body>
</html>
